name: Build all firmwares

on:
  push:
    paths:
      - 'qmk_firmware/keyboards/keyball/**.mk'
      - 'qmk_firmware/keyboards/keyball/**.c'
      - 'qmk_firmware/keyboards/keyball/**.h'
      - 'qmk_firmware/keyboards/keyball/**.json'
      - '.github/**.yml'
    tags-ignore:
      - '*'
    branches:
      - '*'

  pull_request:
    paths:
      - 'qmk_firmware/keyboards/keyball/**.mk'
      - 'qmk_firmware/keyboards/keyball/**.c'
      - 'qmk_firmware/keyboards/keyball/**.h'
      - 'qmk_firmware/keyboards/keyball/**.json'
      - '.github/**.yml'

  workflow_call: {}

jobs:

  build:

    strategy:
      matrix:
        keyboard: [ keyball39, keyball44, keyball61, keyball46, one47 ]
        keymap: [ test, default, via ]
        include:
          - keyboard: keyball46
            keymap:   test_Left
          - keyboard: keyball46
            keymap:   test_Both
          - keyboard: keyball46
            keymap:   via_Left
          - keyboard: keyball46
            keymap:   via_Both

    uses: ./.github/workflows/build-firmware.yml
    with:
      qmk_version: '0.22.14'
      keyboard:    ${{ matrix.keyboard }}
      keymap:      ${{ matrix.keymap }}

  check-size:
    name: Check size
    runs-on: ubuntu-latest
    needs:
    - build

    steps:

    - uses: actions/download-artifact@v4
      with:
        pattern: "*-firmware"
        merge-multiple: true

    - name: List size of firmwares
      run: |
        for f in *.hex ; do
          cut -c 2,3 $f | awk '{s+=strtonum("0x" $1)}END{printf "%5d/28672 (%2d%%, %5d bytes free) ",s,s*100/28672,28672-s}'
          echo $f
        done
